.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  color: var(--main-blue);
  height: calc(100vh - 60px);
  overflow: hidden;
}

.placeholder {
  height: 100%;
  width: 100%;
  background: var(--bg);
  border-radius: 5px;
}

.placeholder > div {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.details {
  width: 100%;
}

.return {
  display: flex;
  align-items: center;
}

.return svg {
  margin-right: 0.7rem;
}

.sizebtn {
  padding: 0.7rem;
  border: none;
  background: lightgrey;
  border-radius: 2px;
  height: 38px;
  width: 38px;
  margin-right: 0.5rem;
  transition: all 0.2s ease-in;
}

.sizebtn:hover {
  filter: brightness(0.9);
}

.selected {
  background: var(--logo-color-900);
  color: white;
}

.ticker {
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty {
  display: flex;
  align-items: center;
}

.selection {
  margin: 2rem 0;
}

.title {
  @apply text-xl my-2 font-bold;
}

.priceWrapper {
  @apply my-2;
}

.fromPrice {
  @apply text-sm;
}

.price {
  @apply text-3xl;
} 

.select {
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  @apply bg-white w-full py-2 pr-4;
}

.select::-ms-expand {
  margin-right: 10px;
}

.selection p {
  margin: 0;
  margin-bottom: 0.7rem;
}

.qtybtn {
  height: 38px;
  width: 38px;
  border: none;
  background: none;
  transition: all 0.2s ease-in;
  border-radius: 2px;
}

.qtybtn:hover,
.qtybtn:focus {
  background: var(--logo-color-100);
}

.addbtn {
  font-size: 1.125rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem 1.25rem;
  width:100%;
  background: var(--main-blue);
  color: white;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  font-weight: 500;
  border: none;
}

.addbtn svg {
  margin-left: 0.7rem;
}

.addbtn:hover {
  background: #0f3750;
  box-shadow: 3px 3px 10px rgb(12, 21, 58, 0.75);
  transition: all 500ms ease-in-out;
}

.tabs {
  margin-top: 2rem;
  max-width: 500px;
}

.tabtitle {
    background: transparent;
    border: none;
    padding: .5rem 0;
    font-size: var(--fz-m);
    border-bottom: 1px solid var(--logo-color-400); 
}

.productDetailsWrapper {
  overflow: hidden;
  @apply mt-6;
}

.seeDetailsWrapper {
  z-index: 2;
  position: relative;
  transition: all 500ms ease-in-out;
  padding-bottom: 5px;

  @apply flex w-full justify-between px-4 cursor-pointer bg-white;
}

.seeDetailsWrapper::after {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 2px;
  background: #0f3750;
  left:0;
  right: 0;
  width: 0%;
  transition: all 750ms ease-in-out;
}

.active.seeDetailsWrapper::after {
  transition: all 1000ms ease-in-out;
  width: 100%;
}

.informationWrapper {
  z-index: 1;
  transform: translateY(-200%);
  transition: transform 500ms ease-in-out;
  border: 1px solid #0f3750;
  border-radius: 5px;
  @apply p-4 my-4;
}

.informationWrapper.active {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
}

.messageWrapper {
  transform: translateY(600%);
  transition: all 350ms ease-out;
  border: 1px solid var(--main-blue);
  @apply text-black rounded-md py-2 px-4 mx-4 w-full flex justify-center items-center;
  height: 50px;
  z-index: 1;
}

.messageWrapper.active {
  transform: translateY(0);
  z-index: 2;
  transition: all 350ms ease-in;
  @apply mb-4;
}

@media (max-width: 876px) {
    .container {
      flex-direction: column;
    }

    .image,
    .info {
        width: 100%
    }

    .info {
        margin-top: 1rem;
        padding: 0 22px;
    }
  }

  @media screen and (min-width: 640px) {
    .info {
      width: 75%;
    }
  }

  @media screen and (min-width: 876px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
    .info {
      width: 50%;
    }
  }